@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 230, 0, 30;
  --background-start-rgb: 214, 219, 10;
  --background-end-rgb: 255, 34, 45;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 100, 30, 220;
    --background-end-rgb: 203, 34, 56;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.relative.w-full.border-b-2.sticky.top-0 {
  z-index: 9;
}
.eyeIcon{
  position: absolute;
  color: #000;
  right: 53px;
  padding: 8px;
}
.eyeIcon:hover{
  cursor: pointer
}
.user-data{
  position:absolute;
  top:35px;
}
